<h1>Add Todo</h1>
<input type="text" [(ngModel)]="title" />
<input type="text" [(ngModel)]="description" />
<button (click)="addToStore()">Save</button>
<ul *ngFor="let todo of (state$ | async).todo">
  <li>
    <h4>
      {{ todo.title }}
    </h4>
    <span>
      {{ todo.description }}
    </span>
  </li>
</ul>
